# Environment variables
.env
.env.local
.env.*.local
*.env

# Docker
stack.yml
temp.yml

# IDEs
.idea/
.vscode/

# Project specific
backend/.gradle/
backend/build/
frontend/node_modules/
frontend/dist/
